<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Project Adaptibility</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
  
<body>
    <img src="https://www.skillsfuture.gov.sg/images/default-source/template/skillsfuturesg_rgb-24-v2.jpg?sfvrsn=ac431521_3/SkillsfutureSG_RGB-24-v2.jpg" href="style.css">
    <header>
        <h1>Student-Expert Portal</h1>
        <hr>
    </header>
    <main>
        <section class="container">
            <h2 align="centre">Welcome!</h2>
            <p>Enter your Student ID:</p>
            <input type="text" id="nameInput" placeholder="Your Name" required>
            <button id="submitBtn" onclick="window.location.href = '/page2';">Submit</button>
        </section>
    </main>

  <script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
  
</html>
